body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.header {
    color: #17D9FF;
    border-bottom: solid 1px;
    border-color: lightgrey;
    text-align: center;
}

.logOut {
    color: #17D9FF;
    text-align: center;
    margin-top: 250px;
}

.logOut:hover {
    color: white;
}

/* index.html style */
.mainBody {
    margin: 15px;
}

#login {
    color: #17D9FF;
}

#loginFail {
    color: #F65353;
}

#loginButton, #createUserButton {
    background-color: #17D9FF;
    margin: 25px 55px;
}

#userSuccess {
    color: #FDFF85;
}

#userFail {
    color: #F65353;
}

#createSection {
    color: #17D9FF;
}

/* home.html stylization */

#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #282828 !important;
    left: -300px;
    transition: .4s;
    margin-top: 60px;
}

#sidebar.active {
    left: 0;
}

.today {
    color: #17D9FF;
    padding: 0px 24px;
}

.date {
    color: #17D9FF;
    padding: 20px 24px;
}

#sidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
}

.navBtn {
    background-color: #333333;
    border: solid 1px;
    border-color: black;
    margin: 30px 5px;
    border-radius: 10px;
    text-align: center;
}

.navBtn:hover {
    background-color: #17D9FF;
    color: black;
}

#sidebar .toggleBtn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggleBtn span {
    width: 30px;
    height: 2px;
    background: #17D9FF;
    display: block;
    margin-top: 4px;
}

.headerBody {
    margin: 15px;
}

#homeBody {
    margin-left: 200px;
    color: #17D9FF;
    transition: .4s;
}

#homeBody.active {
    margin-left: 400px;
}

#welcome {
    margin: 20px 50px;
    margin-bottom: 60px;
}

#homeCourses {
    margin: 50px 50px;
    color: #17D9FF;
}

#homeGroups {
    margin: 50px 50px;
    color: #17D9FF;
}

#homeSchedule {
    margin: 50px 50px;
    color: #17D9FF;
}

a {
    text-decoration: none;
}


/* course.html stylization */

#courseSidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #282828 !important;
    left: -300px;
    transition: .4s;
    margin-top: 60px;
}

#courseSidebar.active {
    left: 0;
}

#courseSidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
}

#courseSidebar .toggleBtn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggleBtn span {
    width: 30px;
    height: 2px;
    background: #17D9FF;
    display: block;
    margin-top: 4px;
}

#courseBody {
    color: #17D9FF;
    transition: .4s;
    margin-left: 150px;
    text-align: center;
    max-height: 640px;
    overflow: scroll;
}

#courseBody.active {
    margin-left: 400px;
}

#welcomeCourse {
    color:#17D9FF;
    padding-right: 150px;
}

#addCourse {
    color: #17D9FF;
    width: 25%;
    margin-right: 100px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 20px;
}

#addButton {
    background-color: #17D9FF;
}

#delCourse {
    color: #17D9FF;
    width: 25%;
    margin-left: 100px;
    margin-right: 5%;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 20px;
}

.removeButton {
    background-color: #17D9FF;
}

/* groups.html stylization */

#groupsSidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #282828 !important;
    left: -300px;
    transition: .4s;
    margin-top: 60px;
}

#groupsSidebar.active {
    left: 0;
}

#groupsSidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
}

#groupsSidebar .toggleBtn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggleBtn span {
    width: 30px;
    height: 2px;
    background: #17D9FF;
    display: block;
    margin-top: 4px;
}

#groupsBody {
    margin-left: 150px;
    color: #17D9FF;
    transition: .4s;
    max-height: 640px;
    overflow: scroll;
}

#groupsBody.active {
    margin-left: 400px;
}

#suggested {
    width: 25%;
    margin-right: 100px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 20px;
}

#suggested button {
    background-color: #17D9FF;
}

#groupList {
    width: 25%;
    margin-left: 100px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 20px;
}

#groupList button {
    background-color: #17D9FF;
}

/* meet.html stylization */
#meetSidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #282828 !important;
    left: -300px;
    transition: .4s;
    margin-top: 60px;
}

#meetSidebar.active {
    left: 0;
}

#meetSidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
}

#meetSidebar .toggleBtn {
    position: absolute;
    top: 30px;
    left: 330px;
}

.toggleBtn span {
    width: 30px;
    height: 2px;
    background: #17D9FF;
    display: block;
    margin-top: 4px;
}

#meetBody {
    margin-left: 100px;
    color: #17D9FF;
    transition: .4s;
    max-height: 640px;
    overflow: scroll;
}

#meetBody.active {
    margin-left: 300px;
}

#myGroup {
    width: 25%;
    margin-right: 25px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 10px;
}

#addSession {
    width: 25%;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 10px;
}

#markCompletedBtn {
    background-color: #17D9FF;
}

#schedule {
    width: 25%;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    position: relative;
    left: 100px;
    float: left;
    border: 2px solid;
    border-color: #282828;
    padding: 20px 20px;
}

#sessionCreation {
    background-color: #17D9FF;
}

/* help.html stylization */
#helpBody {
    text-align: center;
}

#back {
    color: #17D9FF;
    background-color: #282828;
    margin: 100px 10px;
    padding: 10px 10px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

#back:hover {
    color: white;
    background-color: #17D9FF;
}